
{{#section 'head'}}
{{/section}}

<div class="overlay">
	{{#each args}}
	<input type="hidden" data-type="arg" value="{{this}}" name="{{@key}}" />
	{{/each}}

	<div id="overlay-labels" class="overlay-labels"></div>
	<div class="overlay-labels">
	<h3 class="brand info">
		<span class=""><span class="mdl-color-text--orange-400">OBS-GAMESTATS</span> by <span class="mdl-color-text--red-400">@DARTHMINOS</span></span>
	</h3>
	</div>
</div>

<div data-template="label" class="hidden">
	<h3 class="info">
		<span class="mdl-color-text--{{colors.label}} label" data-type="label"></span>
		<span class="mdl-color-text--{{colors.value}} value" data-type="value"></span>
	</h3>
</div>

<div data-template="progress" class="hidden">
	<div class="mdl-progress mdl-js-progress"></div>
</div>

{{#section 'scripts'}}
<script src="/assets/scripts/{{loader}}.js"></script>
{{/section}}
